.env
__pycache__/
*.pyc
.venv/
venv/
.DS_Store
data/
dbt_settlens/target/
dbt_settlens/dbt_packages/
dbt_settlens/logs/
dbt_settlens/.user.yml
.env
keys/
logs/

# Terraform
terraform/.terraform/
terraform/terraform.tfvars
terraform/*.tfplan

# Ansible
ansible/inventory.ini
ansible/*.retry
ansible/.secrets/
